ul{
list-style:none;
}

.dli{
color:white;
font-weight:bold
}
.nav{
        margin-top:10px;   	
        border-width: 2px;		
		padding:5px;
        width: 70px;
        height: 70px;
        
        transform:rotate(45deg); 		
		opacity:0.3;
}


.myPic0{
 position:absolute;
 top:90px;
 left:auto;
 z-index:0;
}

.c0{
position:absolute;top:220px;left:130px;
}
.c4{

}
.c5{
position:absolute;top:220px;left:450px;
}
.c8{
position:absolute;top:220px;left:759px;
}
.sel0{
position:absolute;
padding:0;
z-index:1;
width:168px;
height:187px;
top:34px;
left:6px;
background:url('<%= asset_path("sel0.png") %>');
background-position:center;
display:none;
}
.sel1{

}
.sel2{

}
.sel3{

}
.sel4{

}
.sel5{
position:absolute;
z-index:1;
padding:0;
width:195px;
height:190px;
top:34px;
left:270px;
background:url('<%= asset_path("sel5.png") %>');
background-position:center;
display:none;
}
.sel6{

}
.sel7{

}
.sel8{
position:absolute;
z-index:1;
padding:0;
width:180px;
height:170px;
top:54px;
left:791px;
background:url('<%= asset_path("sel8.png") %>');
background-position:center;
display:none;
}

.sel9{

}
.sel10{

}


.header{
text-align:center;
width:100%;
height:300px;
}
.dropDown{
display:none;
}

