<!-- Footer -->

        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 實踐大學學生社群 x 午餐計畫 2015</p>
                </div>
            </div>
        </footer>